.panel{
    background-color: rgb(0, 15, 39);
    height: 100vh;
    display: grid;
    align-items: center;
    .panel-container{
        height: 90vh;
        overflow: auto;
        background-color: #fff;
        display: grid;
        grid-template-columns: max-content 1fr;
    }
}